.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    padding: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.primary-button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #FF5599;
    box-shadow: inset -5px -15px 30px #fa0261;
    color: white;
}

/* main section */

main {
    width: 100%;
    min-width: 225px;
    background-color: #FDEBEA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 300px;
}

main section {
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin: 25px;
}

main section * {
    margin: 0;
}

/* subscription section */

.subscribe-title {
    display: inline;
    font-size: 3cap;
    font-weight: 600;
}

.subscribe-msg {
    font-size: small;
}

.subscribe-email {
    padding: 5px 10px;
    width: 350px;
    max-width: 90%;
    height: 25px;
    border: 1.5px solid rgb(215, 215, 215);
    border-radius: 3px;
    margin: 5px 0 10px !important;
}

/* footer */

footer {
    text-align: center;
    font-size: small;
    margin: 25px;
}
